#r1 { position: relative; top: 35px; left: 280px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r2 { position: relative; top: 45px; left: 335px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r3 { position: relative; top: 75px; left: 355px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r4 { position: relative; top: 111px; left: 335px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r5 { position: relative; top: 133px; left: 280px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r6 { position: relative; top: 120px; left: 196px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r7 { position: relative; top: 44px; left: 105px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r8 { position: relative; top: -75px; left: 46px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r9 { position: relative; top: -200px; left: 20px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r10 { position: relative; top: -323px; left: 50px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r11 { position: relative; top: -425px; left: 100px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }

#r12 { position: relative; top: -497px; left: 185px; font-size: 33px; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }
