:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 97vh;
  display: grid;
  place-items: center;
  background: var(--clr-bg);
  font-family: "Balsamiq Sans", cursive;
  color: var(--clr-neon);
  padding-right: 6rem;
}

img { height: 410px; z-index: -99; }

.circ { position: absolute; top: 203px; height: 17px; width: 17px; background-color: var(--clr-neon);box-shadow: inset 0 0 0.9em 0 var(--clr-neon), 0 0 0.9em 0 var(--clr-neon); border-radius: 50%; z-index: 100; }

#ponteiro-hora { position: absolute; top: 109px; height: 202px; width: 12px; background: linear-gradient(to bottom, #b80cff 50% , transparent 50%); border-radius: 9%; }

#ponteiro-minuto { position: absolute; top: 52px; height: 320px; width: 12px; background: linear-gradient(to bottom, #b80cff 50% , transparent 50%); border-radius: 9%; }

#ponteiro-segundo { position: absolute; top: 83px; height: 257px; width: 6px; background: linear-gradient(to bottom, red 50% , transparent 50%); border-radius: 9%; }

.relogio { position: absolute; top: 15px; height: 410px; width: 410px; border: var(--clr-neon) 0.25em solid; box-shadow: inset 0 0 0.9em 0 var(--clr-neon), 0 0 0.9em 0 var(--clr-neon); border-radius: 50%;  }

.neon {
  font-size: 4rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: absolute;
  top: 470px;
}

.neon::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon:hover,
.neon:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon:hover::before,
.neon:focus::before {
  opacity: 1;
}
.neon:hover::after,
.neon:focus::after {
  opacity: 1;
}

footer { position: absolute; bottom: 5%; right: 5%; text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; }
